* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

h1, h2, h3, h4, h5, h6, p, img, form {
  padding: 1.5em;
}

body {
  background: #f2f2f2;
}

header {
  background: #123456;
  color: white;
}

main {
  width: 80vw;
  margin: auto;
  background: white;
}

section:nth-child(odd)>img {
  float: left;
}

section:nth-child(even)>img {
  float: right;
}

section {
  padding: 2em;
  clear: both;
}

footer {
  background: black;
  color: white;
}

/* Style inputs */

input[type=text], select, textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  /* margin-top: 6px; */
  margin-bottom: 1.5em;
  resize: vertical;
}

/* button style */

input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 1em 2em;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ffffff;
  color: #000000;
}