* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 70vw 30vw;
  grid-template-rows: 90vh 10vh;
}

aside {
  background: rgb(90%, 90%, 90%);
  grid-column: 2/3;
  grid-row: 1/3;
}

main {
  background: rgb(95%, 95%, 95%);
  ;
  overflow-y: scroll;
  grid-column: 1/2;
  grid-row: 1/2;
}

footer {
  background: rgb(80%, 80%, 80%);
  ;
  grid-column: 1/2;
  grid-row: 2/3;
}